<div class="container mt-3">
    <div class="row">
        <div class="col">
            <p class="h3">
                View Contact
            </p>
            <p class="fst-italic">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam non eius adipisci iste ipsum molestiae quidem totam, ducimus animi qui? Aut voluptates corporis tempore obcaecati error sapiente dolores facilis debitis?</p>
        </div>
    </div>
</div>

<!-- Contact Details -->
<div class="container">
    <div class="row align-items-center">
        <div class="col-sm-4">
            <img src="http://assets.stickpng.com/thumbs/585e4bc4cb11b227491c3395.png" alt="" class="contact-img-big">
        </div>
        <div class="col-sm-6">
            <ul class="list-group">
                <li class="list-group-item list-group-item-primary">Name : <span class="fw-bold">Name</span></li>
                <li class="list-group-item list-group-item-primary">Email : <span class="fw-bold">Email</span></li>
                <li class="list-group-item list-group-item-primary">Mobile : <span class="fw-bold">Mobile</span></li>
                <li class="list-group-item list-group-item-primary">Company : <span class="fw-bold">Company</span></li>
                <li class="list-group-item list-group-item-primary">Title : <span class="fw-bold">Title</span></li>
                <li class="list-group-item list-group-item-primary">Group Name : <span class="fw-bold">Group Name</span></li>
            </ul>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <a routerLink="/" class="btn btn-primary">
                <i class="fa fa-arrow-alt-circle-left"></i> Back</a>
        </div>
    </div>
</div>
