<div class="container mt-3">
    <div class="row">
        <div class="col">
            <p class="h3">
                Edit Contact
            </p>
            <p class="fst-italic">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam non eius adipisci iste ipsum molestiae quidem totam, ducimus animi qui? Aut voluptates corporis tempore obcaecati error sapiente dolores facilis debitis?</p>
        </div>
    </div>
</div>

<!-- Edit Contact Form-->
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <form>
                <div class="mb-2">
                    <input type="text" class="form-control" placeholder="Name">
                </div>
                <div class="mb-2">
                    <input type="text" class="form-control" placeholder="Photo Url">
                </div>
                <div class="mb-2">
                    <input type="email" class="form-control" placeholder="Email">
                </div>
                <div class="mb-2">
                    <input type="number" class="form-control" placeholder="Mobile">
                </div>
                <div class="mb-2">
                    <input type="number" class="form-control" placeholder="Company">
                </div>
                <div class="mb-2">
                    <input type="text" class="form-control" placeholder="Title">
                </div>
                <div class="mb-2">
                    <select class="form-control">
                    <option value="">Select a group</option>
                </select>
                </div>
                <div class="mb-2">
                    <input type="submit" class="btn btn-primary" value="Update">
                    <a class="btn btn-dark ms-2" routerLink="/">Close</a>
                </div>
            </form>
        </div>
        <div class="col-sm-4">
            <img src="http://assets.stickpng.com/thumbs/585e4bc4cb11b227491c3395.png" alt="" class="contact-img">
        </div>
    </div>
</div>
